<openbox_pipe_menu>
    <item label="Terminal"><action name="Execute"><command><![CDATA[alacritty]]></command></action></item>
    <item label="Web Browser"><action name="Execute"><command><![CDATA[xdg-open http://]]></command></action></item>
  <separator/>
    <item label="Lock"><action name="Execute"><command><![CDATA[xscreensaver-command -lock]]></command></action></item>
    <item label="Exit"><action name="Exit"/></item>
</openbox_pipe_menu>
